apiVersion: apps/v1
kind: Deployment
metadata:
  name: gatus
  labels:
    app.kubernetes.io/name: "gatus"
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: "gatus"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "gatus"
    spec:
      serviceAccountName: gatus
      containers:
      - name: gatus
        image: twinproduction/gatus:v5.20.0
        envFrom:
        - secretRef:
            name: gatus-secret
            optional: true
        # env:
        # - name: GATUS_CONFIG_PATH
        #   value: /config
        resources:
          requests:
            memory: 64Mi
            cpu: 50m
          limits:
            memory: 256Mi
        ports:
        - name: http
          protocol: TCP
          containerPort: 8080
        livenessProbe:
          httpGet:
            path: /health
            port: http
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: http
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        volumeMounts:
        - mountPath: /config
          readOnly: true
          name: gatus-config
      volumes:
      - name: gatus-config
        configMap:
          name: gatus-config
          defaultMode: 0640
